<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>
    {% for css in csss%}
    <style> {{css}} </style>
    {% endfor %}
  </head>
  <body >
    <div id="gua-div-table-container">

    </div>
    <button id="btn">Hello</button>

    {% for s in scripts %}
      <script> {{ s }} </script>
    {% endfor %}
    <script>

        function mergeTable($table, size, field, rowSpan) {
            for (let i = 0; i < size; i += rowSpan) {
                $table.bootstrapTable("mergeCells", {index: i, field: field, rowspan: rowSpan})
            }
        }

        function drawTable(container, data){
            let pageSize = 4
          $(container).append(`
              <table id="table"
                  data-page-size="${pageSize}"
                  data-pagination="true"
              >
                <thead>
                  <tr>
                    <th data-field="id">ID</th>
                    <th data-field="simple">Simple</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="hash">Item Hash</th>
                  </tr>
                </thead>
              </table>
            `)
          let $table = $('#table')
          // 初始化 table
          $table.bootstrapTable({
            data: data,
            onPageChange: function (number, size) {
                mergeTable($table, pageSize, "simple", 2)
            }
          })
          mergeTable($table, pageSize, "simple", 2)
          // 首页合并表格
        }
        let data = [
            {
              id: 0,
              simple: "sample1",
              name: "wang",
              hash: "1",
            },
            {
            id: 1,
            simple: "sample1",
            name: "wang",
            hash: "1",
            },
           {
            id: 2,
            simple: "sample2",
            name: "wang",
            hash: "1",
           },
           {
            id: 3,
            simple: "sample2",
            name: "wang",
            hash: "1",
           },
           {
            id: 4,
            simple: "sample3",
            name: "wang",
            hash: "1",
          },
            {
            id: 5,
            simple: "sample3",
            name: "wang",
            hash: "1",
          }
        ]
        $("#btn").bind("click", function () {
            drawTable("#gua-div-table-container", data)
        })
        
        </script>
  </body>
</html>