<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>
    {% for css in csss%}
    <style> {{css}} </style>
    {% endfor %}
  </head>
  <body >
    <div id="gua-div-table-container">
      
    </div>
    <button id="btn">Hello</button>

    {% for s in scripts %}
      <script> {{ s }} </script>
    {% endfor %}
    <script>
        // function bindEvent(selector, callback) {
        //   //给一个按钮绑定事件
        //   let b = document.querySelector(selector)
        //   b.addEventListener('click', callback)
        // }


        function drawTable(container, data){
          $(container).append(`
              <table id="table" 
                  data-page-size="2"   
                  data-pagination="true"
              >
                <thead>
                  <tr>
                    <th data-field="id">ID</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="hash">Item Hash</th>
                  </tr>
                </thead>
              </table>
            `)  
          let $table = $('#table')
          $table.bootstrapTable({ 
            data: data, 
            pageSize: 2 
          })
        }
        let data = [
            {
              id: 0,
              name: "wang",
              hash: "1",
            },
            {
            id: 1,
            name: "wang",
            hash: "1",
            },   
          {
            id: 2,
            name: "wang",
            hash: "1",
          },             {
            id: 3,
            name: "wang",
            hash: "1",
          },             {
            id: 4,
            name: "wang",
            hash: "1",
          },             {
            id: 5,
            name: "wang",
            hash: "1",
          },             {
            id: 6,
            name: "wang",
            hash: "1",
          },             {
            id: 7,
            name: "wang",
            hash: "1",
          },             {
            id: 8,
            name: "wang",
            hash: "1",
          },             {
            id: 9,
            name: "wang",
            hash: "1",
          },             {
            id: 10,
            name: "wang",
            hash: "1",
          },             {
            id: 11,
            name: "wang",
            hash: "1",
          },             {
            id: 12,
            name: "wang",
            hash: "1",
          },             {
            id: 13,
            name: "wang",
            hash: "1",
          },        

        ]
        $("#btn").bind("click", function () {
            drawTable("#gua-div-table-container", data)
        })
        </script>
  </body> 
</html>