<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!--  -->
    {% for css in csss%}
    <style> {{css}} </style>
    {% endfor %}
</head>

<body>
    <!-- pure template -->
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#">CDC ASM Client</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" id="gua-a-selector-directory-input" class="pure-menu-link">选择输入目录</a></li>
                <li class="pure-menu-item"><a href="#" id="gua-a-selector-directory-output" class="pure-menu-link">选择输出目录</a></li>
            </ul>
        </div>
    </div>

    <div class="splash-container">
        <div class="splash">
            <div id="gua-div-table-container" >        

            </div>
            <div id="progressbar" >             
            </div>
        </div>
    </div>


    <div class="content-wrapper"> 
        <!-- log日志 --> 
        <div  id="gua-div-terminal" style="margin: 5%; border: 1px solid">

        </div>
        <!-- 容器 -->
        <div id="gua-response-container" style="margin: 5%; border: 1px solid">
        </div>
    </div>

    <div id="gua-div-id-label">
        <p>当前任务的数据目录是:&nbsp;<span id="gua-id-span-input-path"></span></p>
        <p>当前任务的输出目录是:&nbsp;<span id="gua-id-span-output-path"></span></p>
    </div>
    {% for s in scripts %}
        <script> {{ s }} </script>
    {% endfor %}
</body>
</html>